# Keycloak
KC_HOSTNAME=http://localhost:4000

KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=

KC_HOST=0.0.0.0
KC_PORT=4000

# Postgres
DB_PASSWORD=

# API LLM
LLM_DIR_PATH=../lumina-REST-API

LLM_API_KEY=

LLM_API_HOST=0.0.0.0
LLM_API_PORT=5600

# API Gateway
GATEWAY_DIR_PATH=../lumina-platform

LLM_URL=http://lumina-rest-api:5600

GATEWAY_API_HOST=0.0.0.0
GATEWAY_API_PORT=8080

CLIENT_SECRET=

# Cache
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_PASSWORD=
